
@{
    ViewBag.Title = "Admin";
}
<style>
    .admin {
        margin-bottom: 50px;
    }
</style>
<div class="admin">
    <p>
        @Html.ActionLink("Cadastro de Produto", "CadProduto", "Produto")
        <br />
        <br />
        <br />
        @Html.ActionLink("Consulta de Produtos", "ConsProduto", "Produto")
        <br />
        @Html.ActionLink("Consulta de Clientes", "ConsCliente", "Cliente")
        <br />
        @Html.ActionLink("Contato", "ConsContato", "Home")
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>





