
@{
    ViewBag.Title = "confVenda";
}

@{
    ViewBag.Title = "confVenda";
}

<style>
    .manipulaar {
        text-align: center;
    }

        .manipulaar img {
            width: 329px;
            margin-top: -31px;
            margin-bottom: 80px;
        }

    .texto {
        font-size: 30px;
        margin-top: -50px;
        font-weight: 600;
    }
</style>


<div class="manipulaar">
    <div class="imagem">
        <img src="~/Imagens/conf.png" />
    </div>
    <div class="texto">
        <p>
            Pagamento Concluído! Em breve entraremos em contato por e-mail 
        </p>
    </div>
</div>
<br />