@{
    ViewBag.Title = "Portfolio";
}

    <link href="~/Css/portfolio.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div class="portfolio">
        <div class="row">
            <div class="heading-title">Serviços</div>
        </div>
        <div class="container-fluid middle-bg py-5">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-2 py-5 text-center">
                        <img class="portfolio-img" src="~/Imagens/portfolio.jpeg" />
                    </div>
                </div>
                <div class="row lightest-txt">
                    <div class="textTodos">
                        <div class="text1">
                            <p class="p1">
                                <b style="color: #9119D1">
                                    Produtos Originais e Certificados <br />
                                </b>
                                Preparamos tudo o que você precisa <br /> com qualidade garantida.
                            </p>

                        </div>
                        <div class="text2">
                            <p class="p1">
                                <b style="color: #9119D1">
                                    Fornecemos Produtos Para Todo o País <br />
                                </b>
                                Nossa inteção é ampliar cada vez mais <br /> nossos negócios e trazer diversidade <br /> aos nossos clientes.
                            </p>
                        </div>
                        <div class="text3">
                            <p class="p1">
                                <b style="color: #9119D1">
                                    Entregas Speed <br />
                                </b>
                                Nossas entregas são de extrema <br /> rapidez e eficácia.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br />

